* {
  margin: 0;
  padding-right: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header_superior {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 1200vh;
  background-color: rgba(0, 0, 0, 0.726);
  padding: 20px;
  z-index: 10;
}

.logo {
  color: gold;
  width: 100%;
}

.search input {
  background-color: gold;
  width: 170px;
  padding: 10px;
  border-radius: 20px;
}

/*barra menu*/
a {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container__menu {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.534);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
}

.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

nav {
  background-color: rgba(0, 0, 0, 0.534);
  height: 100%;
}

nav > ul {
  height: 100%;
  display: flex;
}
nav > ul li {
  height: 100%;
  list-style: none;
  position: relative;
}

nav > ul > li > a {
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px;
  color: gold;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 300ms ease;
}
nav > ul > li > a:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.534);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*sub menu*/
nav ul li ul {
  background-color: rgba(247, 92, 195, 0.856);
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.534);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 90px;
  left: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  list-style: none;
}
nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 70px;
  list-style: none;
  margin: 0;
}
nav ul li ul:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgb(241, 69, 164);
  position: absolute;
  top: -12px;
  left: 20px;
}

nav > ul > li > ul > li > a {
  display: block;
  color: aqua;
  padding: 6px;
  margin-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}
nav > ul > li > ul > li > a:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  color: gold;
  text-shadow: 0, 0, 0;
  transform: scale(1.1);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0, 0, 0;
}

* {
  margin: 0;
  padding-right: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.icon__menu {
  font-size: 26px;
  cursor: pointer;
  width: 26px;
  height: 100%;
  display: flex;
  align-items: center;
  display: none;
}

#label__check {
  width: 26px;
  height: 100%;
  display: none;
}

#check__menu {
  display: none;
}

.header__superior {
  padding: 10px;
}

img {
  filter: drop-shadow(1px 5px 1px rgb(0, 0, 0));
  width: 10em;
}

input {
  border-radius: 10px;
  margin-left: 20px;
}

::placeholder {
  color: fuchsia;
  text-shadow: 0px 5px 2px black;
}

/*barra menu*/
a {
  color: gold;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container__menu {
  background-image: url(./img/fucsia.jpg);
  display: flex;
  justify-content: start;
  align-content: center;
  width: 100%;
  height: 70%;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.76);
  padding: 0px 20px;
}

.comntainer__select {
  margin-right: 200px;
}

.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

nav {
  height: 100%;
}

nav > ul > li {
  margin-left: -20px;
  height: 20%;
  list-style: none;
  position: relative;
}

nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 300ms ease;
}
nav > ul > li > a:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.767);
}

nav > ul {
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.527);
  position: fixed;
  left: 0;
  top: 158px;
  width: 100%;
  height: 0px;
  transition: all 300ms ease;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

nav > ul > li > a {
  margin-left: 0%;
  margin-right: 0%;
  width: 20em;
  background-color: rgba(0, 0, 0, 0.37);
  transform: scale(1.1);
}

nav > ul > li > a:hover {
  margin-left: 30px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.37);
  transform: scale(1.1);
}

nav ul li ul {
  background-color: rgba(255, 0, 0, 0.555);
  left: 90px;
}

nav ul li:hover ul {
  background-color: rgba(255, 0, 0, 0.767);
  top: 50px;
}

nav ul li ul {
  background-color: rgba(0, 0, 0, 0.692);
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.596);
  position: absolute;
  margin-top: 90px;
  left: 100px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
  list-style: none;
}
nav ul li:hover ul {
  background-color: rgb(0, 0, 0);
  height: 250px;
  visibility: visible;
  opacity: 1;
  top: -20px;
  list-style: none;
  margin-left: 1vh;
  width: 30vh;
}
nav ul li ul:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(0, 0, 0, 0.733);
  position: absolute;
  top: -12px;
  left: 20px;
}

.sub__menu {
  background-image: url(./img/fucsia.jpg);
  width: 100px;
  height: 100px;
}
.sub__menu .text__sub {
  text-shadow: 2px 5px 3px black;
  text-transform: uppercase;
  font-size: medium;
  height: 80px;
}

body {
  background-color: rgba(0, 0, 0, 0.863);
}

#selected {
  transform: scale(1);
}

#label__check {
  display: block;
}

.icon__menu {
  display: flex;
}

#check__menu:checked ~ nav > ul {
  height: 300px;
  visibility: visible;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.gallery {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 32px;
}
.gallery img {
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px black;
}

.footer {
  display: flex;
  justify-content: space-around;
  scroll-margin-bottom: 10px;
  background-color: rgb(0, 0, 0);
  padding: 30px;
}
.footer img {
  width: 5em;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 100%;
    background-color: rgba(0, 0, 0, 0.993);
    padding: 30px;
    display: flex;
    justify-content: space-around;
  }
  .footer img {
    width: 50px;
  }
}
.uno {
  margin-top: 150px;
}

.gallery__index {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 32px;
}
.gallery__index img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  filter: drop-shadow(5px 20px 5px rgb(17, 17, 17));
}

.bd__contact {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 20px;
  text-align: center;
  width: 340px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: flex;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 35px;
}

label {
  color: rgb(2, 2, 1);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

input textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: rgb(252, 58, 9);
  border: 2px solid rgb(4, 0, 8);
  background-color: rgb(2, 14, 10);
  outline: none;
}

input::placeholder textarea::placeholder {
  color: rgb(167, 137, 197);
}

.form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.form-txt a {
  color: rgb(116, 31, 14);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.btn {
  font-size: 16px;
  color: rgb(8, 5, 1);
  border: 0;
  border-radius: 25px;
  background-color: gold;
  box-shadow: 0 0 20px rgba(4, 14, 3, 0.4);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(253, 7, 81);
}

@media (max-width: 991px) {
  body {
    padding: 30px;
  }
  form {
    padding: 50px 30px;
    width: 100%;
  }
  input {
    padding: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
