.gallery__accesorios {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    }
        @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
    }
        div {
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0,0,0,.2);
        .one {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .3s ease;
        }
        &:hover .one {
        transform: scale(1.1);
        }
        .two {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .3s ease;
            }
            &:hover .two {
            transform: scale(1.1);
            }
            .three {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform .3s ease;
                }
                &:hover .thee {
                transform: scale(1.1);
                }
                .four {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform .3s ease;
                    }
                    &:hover .four {
                    transform: scale(1.1);
                    }
                    .five {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform .3s ease;
                        }
                        &:hover .five {
                        transform: scale(1.1);
                        }
                        .six {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: transform .3s ease;
                            }
                            &:hover .six {
                            transform: scale(1.1);
                            }
                            .seven {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: transform .3s ease;
                                }
                                &:hover .seven {
                                transform: scale(1.1);
                                }
    }
}