
.footer{
    display: flex;
    justify-content: space-around;
    scroll-margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    img{
        width: 5em;
    }
}

@media screen and (max-width: 768px) {
    .footer{
        margin-top: 100%;
        background-color: rgba(0, 0, 0, 0.993);
        padding: 30px;
        display: flex;
        justify-content: space-around;

        img{
            width: 50px;
        }
    }
}