* {
    margin: 0;
    padding-right: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

$color-back: rgba(24, 24, 24, 0.144);

$color-fucsia: rgba(247, 92, 195, 0.856);

$color-aqua: aqua;

$color-gold: gold;


@mixin center {
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin background {
    background-color: rgba(0, 0, 0, 0.534);
}


@mixin bodyback {
    background-color: rgba(233, 150, 122, 0.459);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header_superior {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 1200vh;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 20px;
    z-index: 10;
}



.logo {
    color: $color-gold;
    width: 100%;
}

.search input {
    background-color: $color-gold;
    width: 170px;
    padding: 10px;
    border-radius: 20px;

}



/*barra menu*/

a {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container__menu {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 70%;
    @include background;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 0px 20px;
}

.menu{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav {
    @include background;
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
    li {
        height: 100%;
        list-style: none;
        position: relative;
    }
}

nav > ul > li > a {
    @include background;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: $color-gold;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    &:hover{
        transform: scale(1.1);
        @include background;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }
}

/*sub menu*/

nav {
    ul {
        li {
            ul {
                background-color: $color-fucsia;
                width: 200px;
                display: flex;
                flex-direction: column;
                @include background;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                position: absolute;
                margin-top: 90px;
                left: -5px;
                padding: 14px 0px;
                visibility: hidden;
                opacity: 0;
                z-index: 10;
                transition: all 300ms ease;
                list-style: none;
            }
            &:hover{
                ul {
                    visibility: visible;
                    opacity: 1;
                    top: 70px;
                    list-style: none;
                    margin: 0;
                }
            }
            ul:before {
                content:"";
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 12px solid rgb(241, 69, 164);
                position: absolute;
                top: -12px;
                left: 20px;
            }
        }
    }
}

nav> {
    ul> {
        li> {
            ul> {
                li> {
                    a {
                    display: block;
                    color: $color-aqua;
                    padding: 6px;
                    margin-left: 14px;
                    margin-top: 10px;
                    font-size: 14px;
                    text-transform: uppercase;
                    transition: all 300ms ease;
                    &:hover{
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                        color: $color-gold;
                        text-shadow: 0, 0, 0;
                        transform: scale(1.1);
                        padding-left: 30px;
                        font-size: 14px;
                        box-shadow: 0, 0, 0;
                        }
                    }
                }
            }
        }
    }
}


@mixin back {
    background-image: url(./img/fucsia.jpg);
}



.icon__menu {
    font-size: 26px;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: flex;
    align-items: center;
    display: none;
}

#label__check {
    width: 26px;
    height: 100%;
    display: none;
}


#check__menu{
    display: none;
}

.header__superior {
    padding: 10px;
}



img{
    filter: drop-shadow(1px 5px 1px rgb(0, 0, 0));
        width: 10em;
}


input {
    border-radius: 10px;
    margin-left: 20px;
    }

::placeholder {
    color: fuchsia;
    text-shadow: 0px 5px 2px black;
}



/*barra menu*/

a {
    color: gold;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container__menu {
    @include back;
    display: flex;
    justify-content: start;
    align-content: center;
    width: 100%;
    height: 70%;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.76);
    padding: 0px 20px;
}

.comntainer__select {
    margin-right: 200px;
}

.menu{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav {
    height: 100%;
}

nav> {
    ul {
        height: 100%;
        display: flex;
            li {
                margin-left: -20px;
                height: 20%;
                list-style: none;
                position: relative;
        }
    }
}



nav> {
    ul> {
        li> {
            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 14px;
                text-transform: uppercase;
                font-size: 14px;
                transition: all 300ms ease;
                &:hover{
                    transform: scale(1.1);
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.767);
                }
            }
        }
    }
}




nav> {
    ul{
        flex-direction: column;
        background-color: rgba(250, 10, 10, 0.527);
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 500px;
        transition: all 300ms ease;
    }
}



nav> {
    ul>{
        li>{
            a{
                margin-left: 0%;
                margin-right: 0%;
                width: 20em;
                background-color: rgba(0, 0, 0, 0.37);
                transform: scale(1.1);
        }   }
    }
}










nav> {
    ul>{
        li>{
            a:hover{
                margin-left: 30px;
                width: 80%;
                background-color: rgba(0, 0, 0, 0.37);
                transform: scale(1.1);
        }   }
    }
}

nav{
    ul{
        li{
            ul{
                background-color: rgba(255, 0, 0, 0.555);
                left: 10px;
            }
        }
    }
}

nav {
    ul {
        li {
            &:hover {
                ul {
                    background-color: rgba(255, 0, 0, 0.767);
                    top: 50px;
                }
            }
        }
    }
}


//________SUB__MENU________//


nav {
    ul {
        li {
            ul {
                background-color: rgba(0, 0, 0, 0.692);
                width: 100%;
                display: flex;
                flex-direction: column;;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.596);
                position: absolute;
                margin-top: 90px;
                left: 100px;
                padding: 14px 0px;
                visibility: hidden;
                opacity: 0;
                z-index: 10;
                transition: all 300ms ease;
                list-style: none;
                }
                &:hover{
                    ul {
                        background-color: rgb(0, 0, 0);
                        height: 250px;
                        visibility: visible;
                        opacity: 1;
                        top: -20px;
                        list-style: none;
                        margin-left: 1vh;
                        width: 30vh;
                    }
                }
            ul:before {
                content:"";
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 12px solid rgba(0, 0, 0, 0.733);
                position: absolute;
                top: -12px;
                left: 20px;
            }
        }
    }
}

.sub__menu {
    @include back;
    width: 100px;
    height: 100px;
        .text__sub {
            text-shadow: 2px 5px 3px black;
            text-transform: uppercase;
            font-size: medium;
            height: 80px;
        }
}

body {
    background-color: rgba(0, 0, 0, 0.863);
}




#selected {
    transform: scale(1);
}

#label__check {
    display: block;
}

.icon__menu {
    display: flex;
}

#check__menu:checked ~ nav > ul {
    height: 300px;
    visibility: visible;
    opacity: 1;
}




